<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Product List</title>
 <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<header >
	
	</header>
	<section th:style="'padding-left:200px;'">
		<div id="menu">
			<ul>
				<li class="m1"><a href="" class="active">Football</a></li>
				<li class="m2"><a href="">Basketball</a></li>
				<li class="m2"><a href="">Voleyball</a></li>
				<li class="m2"><a href="">HandBall</a></li>
			</ul>
		</div>

		<h2>Product List</h2>
		<table  style="width=500; border-collapse: collapse; border-collapse:0;">
			<tr>
				<th style="border: 2px solid #ffffff;">Id</th>
				<th style="border: 2px solid #ffffff;">Name</th>
				<th style="border: 2px solid #ffffff;">Creaation Date</th>
				<th style="border: 2px solid #ffffff;">Photo</th>
			</tr>
			<tr th:each="product, iterStat : ${productlist}" style="border-bottom: 2px solid #ffffff;">
				<td th:text="${product.id}" style="border: 2px solid #ffffff;"></td>
				<td th:text="${product.name}" style="border: 2px solid #ffffff;"></td>
				<td th:text="${#dates.format(product.creationDate, 'MM/dd/yyyy')}" style="border: 2px solid #ffffff;"></td>
				<td style="border: 2px solid #ffffff;"><img th:src="@{'/images/' + ${product.photo}}" /></td>
			</tr>
		</table>
	</section>
	<footer></footer>

</body>
</html>